---
layout: default
---

<header class="page-header">
  <div class="container">
    <h1>HOT Summit 2019</h1>
  </div>
</header>


<div class="container">
  <div class="highlight-module secondary-highlight-module" >
    <div class="highlight-details">
      <div class="highlight-info">
        <div class="highlight-hr"></div>
        <h3>Early Bird Registration is now open!</h3>
        <p>A limited number of 1 and 2-day tickets are available for the HOT Summit 2019, happening Sept.19th & 20th in Heidelberg, Germany. Discounted tickets are available for students and OSM Community members from priority regions (Latin America- Caribbean, South Asia, Africa, and Pacific Islands). Join the global HOT Community to see innovative projects, discuss and share ideas or gain a new skill in workshops.  </p>
      </div>
      <div class="highlight-options">
        <a href="https://www.eventbrite.com/e/hot-summit-2019-heidelberg-germany-tickets-60315779119" class="btn btn-primary btn-lg btn-chevron">Get Tickets</a>
      </div>
    </div>
    <div class="highlight-image">
      <img src="/images/hot-summit-2019-heidelberg-cropped.png">
    </div>
  </div>
</div>

<div class="container">
  <div class="hr-h"></div>
</div>

<div class="container">
  <div class="home-newsletter">
    <div class="newsletter-signup">
      <h2>Subscribe for updates <br>& announcements</h2>
      {% include newsletter-form.html %}
    </div>
    <div class="newsletter-description">
      {% include newsletter-description.html %}
    </div>
  </div>
</div>
