<footer class="site-footer">
    <div class="footer-logos footer-group">
        <h3>Thank you to our sponsors:</h3>
    </div>
  <div class="footer-body">
    <nav class="footer-logos footer-group">
      <div class="nav-group">
        <h4>Platinum</h4>
        <a class="footer-logo" href="https://aws.amazon.com/"><img src="{{ "/images/aws-logo.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-logos footer-group">
      <div class="nav-group">
        <h4>Gold</h4>
        <a class="footer-logo" href="https://www.bing.com/"><img src="{{ "/images/bing-logo.png" | prepend: site.baseurl }}"></a>
        <a class="footer-logo" href="https://www.facebook.com/"><img src="{{ "/images/facebook-logo.png" | prepend: site.baseurl }}"></a>
        <a class="footer-logo" href="https://www.grab.com"><img src="{{ "/images/grab-logo.png" | prepend: site.baseurl }}"></a>
        <a class="footer-logo" href="https://www.youthmappers.org/"><img src="{{ "/images/youthmappers-logo.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-logos footer-group">
      <div class="nav-group">
        <h4>Silver</h4>
        <a class="footer-logo" href="https://www.esri.de/de-de/home"><img src="{{ "/images/esri-deutschland.png" | prepend: site.baseurl }}"></a>
        <a class="footer-logo" href="https://www.mapbox.com/"><img src="{{ "/images/mapbox-logo.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-logos footer-group">
      <div class="nav-group">
        <h4>Bronze</h4>
        <a class="footer-logo" href="http://www.critigen.com/"><img src="{{ "/images/critigen-logo.png" | prepend: site.baseurl }}"></a>
        <a class="footer-logo" href="https://www.mapillary.com/"><img src="{{ "/images/mapillary-logo.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-logos footer-group">
      <div class="nav-group">
        <h4>Supporters</h4>
        <a class="footer-logo" href="https://kartoza.com/"><img src="{{ "/images/KartozaLogo.png" | prepend: site.baseurl }}"></a>
        <a class="footer-logo" href="https://mapaction.org/"><img src="{{ "/images/MapAction_Logo.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>Humanitarian OpenStreetMap Team is a 501(c)(3) not-for-profit organization and global community. Learn more about <a href="https://www.openstreetmap.org/about">OpenStreetMap</a>.</p>
      <img src="{{ "/images/hot-logo-icon-white.svg" | prepend: site.baseurl }}">
    </div>
  </div>
</footer>

{% include scripts.html %}
