<footer class="site-footer">
  <div class="footer-body">
    <nav class="footer-group">
      <div class="nav-group">
        <h4>Thank you to our sponsors:</h4>
      </div>
    </nav>
    <nav class="footer-logos footer-group">
      <div class="nav-group">
        <h4>Platinum</h4>
        <a class="footer-logo" href=""><img src="{{ "/images/aws-logo.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-logos footer-group">
      <div class="nav-group">
        <h4>Gold</h4>
        <a class="footer-logo" href=""><img src="{{ "/images/grab-logo.png" | prepend: site.baseurl }}"></a>
        <a class="footer-logo" href=""><img src="{{ "/images/youthmappers-logo.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-logos footer-group">
      <div class="nav-group">
        <h4>Silver</h4>
        <a class="footer-logo" href=""><img src="{{ "/images/mapbox-logo.png" | prepend: site.baseurl }}"></a>
        <a class="footer-logo" href=""><img src="{{ "/images/esri-deutschland.png" | prepend: site.baseurl }}"></a>
        <a class="footer-logo" href=""><img src="{{ "/images/microsoft-logo.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-options footer-group">
      <div class="footer-donate">
        <h4>Interested in supporting?</h4>
        <a href="/sponsor" class="btn btn-info btn-block btn-chevron btn-lg">Sponsor</a>
      </div>
    </nav>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>Humanitarian OpenStreetMap Team is a 501(c)(3) not-for-profit organization and global community. Learn more about <a href="https://www.openstreetmap.org/about">OpenStreetMap</a>.</p>
      <img src="{{ "/images/hot-logo-icon-white.svg" | prepend: site.baseurl }}">
    </div>
  </div>
</footer>

{% include scripts.html %}
