{% capture speakerid %}{{ speaker.id | remove: "/speakers/" }}{% endcapture %}

<div class="module link-through project-module" id="{{ speakerid }}">

  <div class="module-details">

    <div class="module-text project-header-meta">

      <h3>{{ speaker.title }}</h3>

      <p class="project-status speaker-organization">
        {{ speaker.organization }}
      </p>

      <p class="project-countries speaker-country">
        {% if speaker.country %}
          <span class="project-country speaker-country">{{speaker.country}}</span>
        {% else %}
          <span class="project-country speaker-country">Global</span>
        {% endif %}
        </p>

        {% if speaker.talk %}
        <p class="project-involvement speaker-talk">
          {{speaker.talk}}
        </p>
        {% endif %}
    </div>

  </div>

  <div class="module-image">
    {% if speaker.image %}
      <img style="object-position: top center" src="{{speaker.image}}">
    {% else %}
      <img style="object-position: top center" src="/images/speakers/person.jpg">
    {% endif %}
  </div>

</div>
