---
layout: default
---

<div class="program container">

  <header class="page-header">
    <h1>{{ page.title }}</h1>
    <div class="hr-h"></div>
  </header>

  <div class="program-body">

    <div class="select-area">
        <h2 class="select-item sept-19" id="sept-19">SEPT 19</h2>
        <h2 class="select-item sept-20" id="sept-20">SEPT 20</h2>
    </div>

    <div class="select-dummy"></div>

    <section class="program-content article sept-19">
      
      {% for session in page.Day1 %}
      <div class="program-table">
          <div>
            <p class="time">{{ session.time }}</p>
          </div>
          <div>
          {% for s in session.session %}
          {% if s.title %}
          <div class="program-details">
            {% if s.subsessions %}
              <p class="location">{{ s.location }}</p>
              <p class="title">{{ s.title }}</p>
              <ul>
              {% for i in s.subsessions %}
                <li>
                  <p class="title">{{ i.title }}</p>
                  {% if i.presenter %}<p class="presenter">{{ i.presenter }}</p>{% endif %}
                </li>
              {% endfor %}
              </ul>
            {% else %}
              {% if s.location %}
              <p class="location">{{ s.location }}</p>
              {% endif %}
              <p class="title">{{ s.title }}</p>
              {% if s.presenter %}
                  <p class="presenter">{{ s.presenter }}</p>
              {% endif %}
              {% endif %}
          </div>
          {% endif %}
          {% endfor %}
          </div>
      </div>
      <div class="hr-h"></div>
      {% endfor %}      
    </section>

    <section class="program-content article sept-20">
      
      {% for session in page.Day2 %}
      <div class="program-table">
          <div>
            <p class="time">{{ session.time }}</p>
          </div>
          <div>
          {% for s in session.session %}
          {% if s.title %}
          <div class="program-details">
            {% if s.subsessions %}
              <p class="location">{{ s.location }}</p>
              {% for i in s.subsessions %}
                <p class="title">{{ i.title }}</p>
                {% if i.presenter %}<p class="presenter">{{ i.presenter }}</p>{% endif %}
              {% endfor %}
            {% else %}
              {% if s.location %}
              <p class="location">{{ s.location }}</p>
              {% endif %}
              <p class="title">{{ s.title }}</p>
              {% if s.presenter %}
                  <p class="presenter">{{ s.presenter }}</p>
              {% endif %}
              {% endif %}
          </div>
          {% endif %}
          {% endfor %}
          </div>
      </div>
      <div class="hr-h"></div>
      {% endfor %}

    </section>

  </div>

</div>
