---
layout: default
---

<div class="page container">

  <header class="page-header">
    <h1>{{ page.title }}</h1>
    <div class="hr-h"></div>
  </header>

  <div class="page-layout-body">
    <div class="speaker-content">
      <div class="article">
        {% if page['Intro Text'] %}
          <p class="news-summary">{{ page['Intro Text' ]}}</p>
        {% endif %}
        
        {{ content }}
      </div>

      <div class="speaker-index-all support-programs">

      {% for speaker in site.speakers %}
          {% include speaker-thumb.html %}
      {% endfor %}
      </div>

    </div>

  </div>

</div>